<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro%7CPontano+Sans%7CSecular+One" rel="stylesheet">
</head>

<body>
        <div class="row">
                <div class="padding">
        
                </div>
            </div>
            <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <div class="title header">
                            Unit Conversion
                        </div>
            
                    </div>
                </div>
                <div class="row">
                        <div class="padding2">
                
                        </div>
                    </div>

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="conversion">
                <div class="subheader">
                    Miles to Fathoms
                </div>
                <div id="milesToFathoms">                       
                         <input v-model="miles" v-on:input="milesToFathoms" placeholder="Miles"/>
                        <input v-model="fathoms" v-on:input="fathomsToMiles" placeholder="Fathoms"/>
                        
                
                    </div>

            </div>
        </div>
    </div>
</body>

<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#milesToFathoms',
        data: {
            miles: "",
            fathoms: "",

        },
        methods: {
            milesToFathoms: function(){
                this.fathoms=this.miles/880
            },
           fathomsToMiles: function(){
                this.miles=this.fathoms*880
            }

        }
    })
</script>

</html>